<div class="w-full mx-auto 2xl:px-60 max-md:pt-40 lg:px-36 px-5">
  <div class="pl-[2.37rem] max-md:pl-[1rem] font-semibold text-gray-400 text-lg">
    <p>Your links</p>
  </div>
  <div *ngFor="let url of urls; let i = index" class="bg-white mt-4">
    <div class="rounded-lg shadow-lg p-[1.63rem] max-md:p-3">
      <div
        class="w-full flex items-center max-md:items-start justify-between max-md:justify-start max-md:divide-y-2 max-md:flex-col"
      >
        <div class="pl-[0.37rem] max-md:p-1">
          <a href="{{ url.result.original_link }}" class="text-xl font-semibold text-gray-900">{{
            url.result.original_link
          }}</a>
        </div>
        <div class="flex max-md:w-full max-md:flex-col items-center max-md:items-start max-md:py-3 max-md:px-0">
          <div class="text-left bg-white mr-20 max-md:mr-0">
            <a href="https://{{ url.result.short_link }}" class="text-2xl font-medium text-teal-500">{{
              url.result?.short_link
            }}</a>
          </div>
          <button
            (click)="copyLink(i, url.result.short_link)"
            class="rounded-[10px] shrink-0 max-md:w-full bg-teal-400 py-4 px-14 text-white text-xl font-semibold hover:bg-teal-600"
            [class.bg-teal-700]="copiedIndex === i"
            >{{ copiedIndex === i ? 'Copied' : 'Copy' }}</button
          >
        </div>
      </div>
    </div>
  </div>
</div>
