<div class="hidden lg:flex justify-between">
  <ul class="flex items-center">
    <img src="../../../assets/images/logo.svg" alt="logo" class="pr-28" />
    <li class="text-xl text-gray-500 font-medium"><a href="#">Features</a></li>
    <li class="px-9 text-xl text-gray-500 font-medium"><a href="#">Pricing</a></li>
    <li class="text-xl text-gray-500 font-medium"><a href="#">Resources</a></li>
  </ul>
  <ul class="flex items-center">
    <li class="text-base font-semibold text-gray-500"><a href="#login">Login</a></li>
    <li class="pl-9"
      ><button
        class="rounded-[40px] bg-teal-400 w-36 h-16 text-white text-xl font-semibold hover:bg-teal-600 active:bg-teal-700"
        >Sign Up</button
      ></li
    >
  </ul>
</div>

<div class="lg:hidden flex justify-between">
  <ul class="flex items-center">
    <img src="../../../assets/images/logo.svg" alt="logo" />
  </ul>
  <ul class="flex items-center">
    <a href="#" (click)="dialogSwitch()"><img src="../../../assets/images/hamburger-icon.svg" alt="menu" /></a>
  </ul>
</div>

<div #appDialog hidden class="w-full lg:hidden z-10">
  <ul class="flex flex-col items-center bg-gray-800 text-white mt-3 py-11 rounded-lg text-xl font-semibold">
    <li><a href="#">Features</a></li>
    <li class="py-7"><a href="#pricing">Pricing</a></li>
    <li><a href="#">Resources</a></li>
    <hr class="w-full h-0.5 border-0 bg-gray-600 my-9" />
    <li><a href="#">Login</a></li>
    <li class="mt-8"><button class="rounded-[40px] bg-teal-400 w-36 h-16">Sign Up</button></li>
     </ul
  >
</div>
