<!-- lg size -->
<div class="flex justify-between">
  <ul class="flex items-center">
    <li class="pr-28 text-3xl font-semibold text-gray-800"><a href="">Shortly</a></li>
    <li class="text-xl text-gray-500 font-medium"><a href="#features">Features</a></li>
    <li class="px-9 text-xl text-gray-500 font-medium"><a href="#pricing">Pricing</a></li>
    <li class="text-xl text-gray-500 font-medium"><a href="#resources">Resources</a></li>
  </ul>
  <ul class="flex items-center">
    <li class="text-base font-semibold text-gray-500"><a href="#login">Login</a></li>
    <li class="pl-9"
      ><button class="rounded-[40px] bg-teal-400 w-36 h-16 text-white text-xl font-semibold">Sign Up</button></li
    >
  </ul>
</div>

<!-- mobile size -->
<!-- <div class="flex justify-between">
  <ul class="flex items-center">
    <li class="text-3xl font-semibold text-gray-800"><a href="">Shortly</a></li>
  </ul>
  <ul class="flex items-center">
    <img src="../../../assets/images/hamburger-icon.svg" alt="menu" />
  </ul>
</div> -->
<!-- mobile menu -->
<!-- <dialog open class="w-full">
  <ul class="flex flex-col items-center bg-gray-800 text-white m-3 py-11 rounded-lg text-xl font-semibold">
    <li><a href="#features">Features</a></li>
    <li class="py-7"><a href="#pricing">Pricing</a></li>
    <li><a href="#resources">Resources</a></li>
    <hr class="w-full h-0.5 border-0 bg-gray-600 my-9" />
    <li><a href="#login">Login</a></li>
    <li class="mt-8"><button class="signup bg-teal-400 w-36 h-16">Sign Up</button></li>
  </ul>
</dialog> -->
