<div class="px-36 pt-12 2xl:px-60">
  <app-navbar></app-navbar>

  <div class="flex mt-40 justify-between mb-[102px]">
    <div>
      <p class="text-gray-800 text-[64px] leading-[68.8px] font-bold break-words w-[485px] mb-4"
        >More than just shorter links</p
      >
      <p class="text-gray-500 text-xl font-medium break-words w-[477px]"
        >Build your brand’s recognition and get detailed insights on how your links are performing.
      </p>
      <button class="mt-7 rounded-[40px] bg-teal-400 h-16 px-9 py-4 text-white text-xl font-semibold"
        >Get Started</button
      >
    </div>
    <div>
      <img
        class="absolute top-56 right-[-100px] -z-10 2xl:right-[100px]"
        src="../../../assets/images/illustration-working.svg"
        alt="illustration"
      />
    </div>
  </div>
  <app-shorten></app-shorten>
</div>
